{% extends "about.html" %}

{% block about_content%}
 <div class="col-sm-12 about-content">
            <h1>Place of Discovery</h1>

            <p>In 1609, Galileo Galilei built the first astronomical telescope from a tube containing two lenses
                of different focal lengths aligned on a single axis.</p>
            <p>With this telescope and several following versions, Galileo made the first telescopic observations of the sky
                and discovered lunar mountains, four of Jupiter's moons, sunspots, and the starry nature of the Milky Way.</p>
            <p>Since then, telescopes have increased in size and improved in image quality. Computers are also used to aid in the
                design of large, complex telescope systems.</p>
            <p>In 1946 Lyman Spitzer, an American theoretical astrophysicist, came up with the idea of sending a large telescope
                into space. After lobbying in the 1960s and 70s for such system to be built, his vision ultimately materialised
                into the Hubble Space Telescope, which was launched on April 24, 1990.</p>
        </div>

        <div>
            <div class="col-sm-12">
                <div class="col-sm-12 p-s-list">
                    <h2>Space-Based</h2>
                    <div class="col-sm-6">
                        <h3>Pros</h3>
                        <ul>
                            <li> - You don’t have to deal with the atmosphere of the earth. In terms of being able to
                                make detailed observations, you are going to find that the atmosphere causes a lot of
                                problems, particularly in terms of murkiness.</li>
                            <li> - When you can eliminate the atmosphere, you have a degree of clarity that is still
                                largely unmatched. You will be able to capture detail in a truly impressive fashion.</li>
                            <li> - Instead of being hindered by Earth's rotation, space telescopes can lock onto stars
                                that otherwise would go out of view as the earth spun</li>

                        </ul>
                    </div>
                    <div class="col-sm-6">
                        <h3>Cons</h3>
                        <ul>
                            <li> - Not surprisingly, operating a telescope that is in outer space can be a hassle. </li>
                            <li> - Since the space telescopes are so expensive to maintain, they dontt have the
                                luxury of being as large as some would like it to be</li>
                            <li> - Any kind of repair work is going to prove to be difficult. This is due to not only
                                the lengthy wait, but it is also due to the challenges of working in space.</li>
                            <li> - Since you can’t update the instruments as much as you would like, you are going to
                                find the software going out of date quite often. This can lead to a variety of performance problems.</li>
                        </ul>
                    </div>

                </div>
                <div class="col-sm-12 p-s-list">
                    <h2>Ground-Based</h2>

                    <div class="col-sm-6">
                        <h3>Pros</h3>
                        <ul>
                            <li> - Being easily accessible, any repairs, upgrades or maintances can be done swiftly,
                                and lot cheaper than if it was in space</li>
                            <li> - Although the atmosphere can distort the image, computers can be used to realign the
                                focal mirrors the suit the conditions</li>
                        </ul>
                    </div>
                    <div class="col-sm-6">
                        <h3>Cons</h3>
                        <ul>
                            <li> - With constant changes in the Earth's atmosphere, light gathered can become distorted
                                (in the same way stars twinkle in the night), leaving scientists with a rather murky image.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12 about-content">
            <h1>What The Data Means!</h1>
        </div>

{% endblock %}}