{% extends "about.html" %}

{% block about_content%}
     <div class="col-sm-12 dm-content">
        <h1>Discovery Methods</h1>

        <p>On January 9, 1992 when they confirmed that such planets do exist beyond our solar system.
            Using the Arecibo Observatory in Puerto Rico, they discovered two exoplanets orbiting a pulsar
            (PSR B1257+12) located in the constellation Virgo, about 2,300 light-years away from Earth.</p>
        <p>Ever since then scientist have come up with multiple methods to determine if there was an object orbiting a star.</p>
    </div>

    <div class="col-sm-12">
        <div class= "col-sm-12 d-method">
            <h3>Radial Velocity</h3>
            <p>The radial velocity method relies on the fact that a star does not remain completely stationary when it
                is orbited by a planet. It moves, ever so slightly, in a small circle or ellipse, responding to the
                gravitational tug of its smaller companion. When viewed from a distance, these slight movements affect
                the star's normal light spectrum, or color signature. If the star is moving towards the observer, then
                its spectrum would appear slightly shifted towards the blue; if it is moving away, it will be shifted
                towards the red.</p>
        </div>
        <div class=" col-sm-6 d-method">
            <h3>Microlensing</h3>
            <p>Microlensing is an astronomical effect predicted by Einstein's General Theory of Relativity. According
                to Einstein, when the light emanating from a star passes very close to another star on its way to an
                observer on Earth, the gravity of the intermediary star will slightly bend the light rays from the
                source star.</p>
        </div>
        <div class=" col-sm-6 d-method">
            <h3>Direct Imaging</h3>
            <p>Direct imaging of exoplanets is extremely difficult, and in most cases impossible. Being small and dim
                planets are easily lost in the brilliant glare of the giant stars they orbit. Nevertheless, even with
                existing telescope technology there are special circumstances in which a planet can be directly
                observed.</p>
        </div>
        <div class=" col-sm-6 d-method">
            <h3>Transit</h3>
            <p>This method detects distant planets by measuring the minute dimming of a star as an orbiting planet
                passes between it and the Earth. The passage of a planet between a star and the Earth is called a
                "transit." If such a dimming is detected at regular intervals and lasts a fixed length of time, then it
                is very probable that a planet is orbiting the star and passing in front of it once every orbital
                period.</p>
        </div>
        <div class= "col-sm-6 d-method">
            <h3>Astrometry</h3>
            <p>Astrometry is the science (and art!) of precision measurement of stars' locations in the sky. When planet
            hunters use astrometry, they look for a minute but regular wobble in a star's position. If such a
            periodic shift is detected, it is almost certain that the star is being orbited by a companion
            planet.</p>
        </div>
        <div class=" col-sm-12 d-method">
            <h3>Pulsar Timing</h3>
            <p>A neutron star is the extremely dense remnant of a star that exploded as a supernova. As they rotate,
                pulsars emit intense electromagnetic radiation that is detected on Earth as regular and precisely
                timed pulses, which are so regular they are more accurate than an atomic clock. Known pulsars have
                rates ranging from a few miliseconds to several seconds, depending on the speed of the star's rotation.
                Slight regular variations in the timing of the pulses indicate that the pulsar is moving back and forth,
                orbiting the center of mass of a system with one or more planets.</p>
        </div>
    </div>
{% endblock %}}