{% extends "about.html" %}

{% block about_content%}
     <div class="col-sm-12 about-content">
        <h1>What The Data Means!</h1>
        <p>With this pie chart you can see how many discoveries were discovered from space or from the ground. Cross
            referencing this chart with the discovery method chart, you can see what method is more suited to the
            location of the telescope</p>
        <p>Also on the pie chart you see a section called multiple locales, which only has 4 entries under the host name "Trapist".
            This is because the discovery of this system become very controversial. Scientist claimed to have found
            a star system that had multiple exoplanets orbiting it. Of them planets 3 of them were proposed to have
            to be Earth sized, orbiting their star's 'habitable zone', and had the conditions to support liquid water;
            making it an extremely likely candidate to find extraterrestrial life, whether that be microbial or complex life forms</p>
    </div>
{% endblock %}}