{% extends "about.html" %}

{% block about_content%}
    <div class="col-sm-12 about-content">
        <h1>What The Data Means!</h1>
        <p>In the 'Place of Discovery' pie chart, you can see how many exoplanets were discovered from space or from the
            ground. Cross referencing this chart with the 'Discovery Method' pie chart, you can see what method is more
            suited to the location of the telescope</p>

        <p>You may notice that on the line charts the data is dominated by two peaks. If you were to cross reference this
            with the 'Discovery Method' pie chart it tells you that the majority of the discovery's were from the 'transit'
            method.</p>

        <p>With the transit method, a telescope will measure the amount of light coming from a star, and wait for a dip.
            This indicates there is an object passing by. To be sure its orbiting, you would have to wait until the object had
            completed its orbit and dim the star again. This can be long in some cases, just think the Earth completes
            its orbit around the sun once every 365 days!</p>

        <p>On the 'Place of Discovery' pie chart you see a section called multiple locales, which only has 4 entries under the host name
            "Trapist". This is because the discovery of this system become very controversial. Scientist claimed to have found
            a star system that had multiple exoplanets orbiting it. Of them planets 3 of them were proposed to be Earth
            sized, orbiting their star's 'habitable zone', and had the conditions to support liquid water; making it a
            likely candidate to find extraterrestrial life, whether that be microbial or complex life forms.</p>
    </div>
{% endblock %}}