{% extends "about.html" %}

{% block about_content%}
    <h1>Year Founded and Updated</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, aliquam, assumenda atque cupiditate delectus dolores earum eius, fugiat maxime nihil odit porro qui suscipit tempora temporibus veritatis vitae voluptas voluptatibus?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, aliquam, assumenda atque cupiditate delectus dolores earum eius, fugiat maxime nihil odit porro qui suscipit tempora temporibus veritatis vitae voluptas voluptatibus?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, aliquam, assumenda atque cupiditate delectus dolores earum eius, fugiat maxime nihil odit porro qui suscipit tempora temporibus veritatis vitae voluptas voluptatibus?</p>
{% endblock %}}