/**********/
/* Fonts: */
/**********/
@font-face{
	font-family: "myfont";
	src: url("/static/fonts/nasaFont.ttf") format("truetype");
	font-family: Futura,"Trebuchet MS",Arial,sans-serif
}

*, .chart-title, .dc-select-menu, text, th, td, h1, p, a, li {
    font-family: myfont;
}

/**************/
/* NAVIGATION */
/**************/
.navbar-header > a {
    font-size: 1.7em;
}
a {
    font-size: 1.4em;
}
.navbar {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#45484d+0,000000+100;Black+3D+%231 */
    background: rgb(69,72,77); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
    border: none;
}

.container {
    width: 90%;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a {
    color: white;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus{
    color: #2a6496 ;
    background-color: transparent;
}
/**************/
/* Background */
/**************/

body  {
	background: url(/static/imgs/space.png) no-repeat center center fixed;
 	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
    background-size: cover;
}
/***************/
/* Content Css */
/***************/

#outer, #outer.jumbotron {
    margin-top: 70px;
    }

#outer.jumbotron {
    background: rgb(69,72,77); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
    border: 5px solid white;
    border-radius: 30px;
    color: white;
    padding: 20px 0 20px 20px;
}

#intro {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#intro-content > h1 {
    padding-bottom: 20px;
    font-size: 41px;
}

#intro-content > p {
    font-size: 22px;
}

#img{
    transform: scale(0.9);
}

/**************/
/* Data Table */
/**************/

th,td {
    padding-right: 20px;
}

td {
    font-size: 0.7em;
}

/**********/
/* Graphs */
/**********/

.chart-stage > ul > li {
    padding-bottom: 20px;
}

div > .chart-wrapper {
    background-color: silver;
}

#data-count > p {
    margin: 0;
}


/**************/
/* Responsive */
/**************/

@media screen and (max-width: 1180px) {
    #img {
        display: none;
    }
}