{% extends "index.html" %}
{% block page_content %}
<!-- Body -->
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <!-- Menu Select -->
                    <div class="col-sm-6">
                        <div class="chart-wrapper">
                            <div class="chart-title">
                                Telescope Select
                            </div>
                            <div class="chart-stage">
                                <div id="menu-select"></div>
                            </div>
                        </div>
                    </div>
                    <!-- / Menu Select -->

                    <!-- Data Count -->
                    <div class="col-sm-6">
                        <div class="chart-wrapper">
                            <div class="chart-title">
                                Data Count
                            </div>
                            <div class="chart-stage">
                                <div id="data-count">
                                    <p><strong class="filter-count"></strong> selected out of <strong class="total-count"></strong> records</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- / Data Count -->

                    <!-- Date Graph -->
                    <div class="col-sm-8">
                        <div class="chart-wrapper">
                            <div class="chart-title">
                                Year of Discovery
                            </div>
                            <div class="chart-stage">
                                <div id="date-graph"></div>
                            </div>
                        </div>
                    </div>
                    <!-- / Date Graph -->

                    <!-- POD Pie -->
                    <div class="col-sm-4">
                        <div class="chart-wrapper">
                            <div class="chart-title">
                                Place of Discovery
                            </div>
                            <div class="chart-stage">
                                <div id="pod-pie"></div>
                            </div>
                        </div>
                    </div>
                    <!-- / POD Pie -->

                    <!-- Status Pie -->
                    <div class="col-sm-4">
                        <div class="chart-wrapper">
                            <div class="chart-title">
                                Method of Finding
                            </div>
                            <div class="chart-stage">
                                <div id="status-pie"></div>
                            </div>
                       </div>
                    </div>
                    <!-- / Status Pie-->

                     <!-- Updated Graph-->
                    <div class="col-sm-8">
                        <div class="chart-wrapper">
                            <div class="chart-title">
                                Last Updated
                            </div>
                            <div class="chart-stage">
                                <div id="updated-graph"></div>
                            </div>
                        </div>
                    </div>
                    <!-- / Updated Graph -->

                    <!-- Method Graph-->
                    <div class="col-sm-4">
                        <div class="chart-wrapper">
                            <div class="chart-title">
                                Method Graph
                            </div>
                            <div class="chart-stage">
                                <div id="method-graph"></div>
                            </div>
                        </div>
                    </div>
                    <!-- / Method Graph -->




                    <!-- Data Table -->
                    <div class="col-sm-12">
                        <div class="chart-wrapper">
                            <div class="chart-title">
                                Data Table
                            </div>
                            <div class="chart-stage">
                                <div id="data-table"></div>
                            </div>
                        </div>
                    </div>
                    <!-- / Data Table-->



                </div>
            </div>
        </div>
<!-- / Body -->
{% endblock %}


