{% extends "index.html" %}
{% block page_content %}

    <div id="outer" class="jumbotron">
        <div id="intro">

            <div id="intro-content">
                <h1>Welcome to My Nasa Data Dashboard!</h1>
                <p>Thanks to data-sets which were made available to the public by Nasa i have been able to create a data dashboard on the inter-stellar objects that they have been gathering data on!</p>
            </div>
            <img id="img" src="\static\imgs\nasa.png">
        </div>
    </div>

{% endblock %}